<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3>Please select your desired page.</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col mb-4">
            <div class="card text-center p-2 mx-auto" (click)="goToPage('main/ios-codes')">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <img src="assets/images/ioscode-menu.png" class="img-fluid" alt="">
                    </div>
                </div>
                <h3>IOS Codes</h3>
                <h6>A vocal reference for controllers to identify the proper response for any IOS alarm for different O&M staff.</h6>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center p-2 mx-auto" (click)="goToPage('main/acid-cctv')">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <img src="assets/images/acid-menu.png" class="img-fluid" alt="">
                    </div>
                </div>
                <h3>ACID CCTV</h3>
                <h6>Helps to integrate the ACID in ATS and ISM and identify the associated CCTV with each ACID.</h6>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center p-2 mx-auto" (click)="goToPage('main/tmcs')">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <img src="assets/images/tmcs-menu.png" class="img-fluid" alt="">
                    </div>
                </div>
                <h3>TMCS</h3>
                <h6>Helps to decide which fire mode to activate in case of fire in tunnel or train on fire in a tunnel section.</h6>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center p-2 mx-auto" (click)="goToPage('main/sms')">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <img src="assets/images/sms-menu.png" class="img-fluid" alt="">
                    </div>
                </div>
                <h3>SMS</h3>
                <h6>Standardize the SMS text to be sent and targeted audience for different operational events.</h6>
            </div>
        </div>
    </div>
</div>