<div class="w-100">
    <div class="container">
        <div class="row vh-100">
            <div class="col-md-6 mx-auto p-5 shadow-lg my-auto bg-special-white">
                <div class="row">
                    <div class="col-md-10 mx-auto text-center">
                        <h1>Set New Password</h1>
                    </div>
                </div>
                <div class="row" *ngIf="newPasswordError != ''">
                    <div class="col-md-10 mx-auto">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{newPasswordError}}
                            <button type="button" class="btn-close" (click)="newPasswordError = ''" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <form [formGroup]="newPasswordForm" (ngSubmit)="newPasswordSave(newPasswordForm.value)" novalidate>
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <label for="password">Password</label>
                            <input name="password" class="form-control" type="password" placeholder="e.g a2y$v13^" formControlName="password">
                            <span class="text-danger" *ngIf="newPasswordForm.get('password')?.touched && newPasswordForm.get('password')?.hasError('required')">
                                Password is required
                            </span>
                            <span class="text-danger" *ngIf="newPasswordForm.get('password')?.touched && !newPasswordForm.get('password')?.hasError('required') && newPasswordForm.get('password')?.hasError('minlength')">
                                Password must be at least 8 characters
                            </span>
                            <span class="text-danger" *ngIf="newPasswordForm.get('password')?.touched && !newPasswordForm.get('password')?.hasError('required') && !newPasswordForm.get('password')?.hasError('minlength') && newPasswordForm.get('password')?.hasError('pattern')">
                                Password must include 1 uppercase, 1 lowercase letter and 1 digit
                            </span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-10 mx-auto">
                            <label for="confirmPassword">Confirm Password</label>
                            <input name="confirmPassword" class="form-control" type="password" placeholder="e.g a2y$v13^" formControlName="confirmPassword">
                            <span class="text-danger" *ngIf="newPasswordForm.get('confirmPassword')?.touched && newPasswordForm.get('confirmPassword')?.hasError('required')">
                                Confirm Password is required
                            </span>
                            <span class="text-danger" *ngIf="newPasswordForm.get('confirmPassword')?.touched && newPasswordForm.hasError('notSame') && !newPasswordForm.get('confirmPassword')?.hasError('required')">
                                Confirm Password does not match
                            </span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-10 col-lg-7 col-xl-6 mx-auto">
                            <button type="submit" [disabled]="!newPasswordForm.valid || loading" class="w-100 btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>