<div class="row">
    <div class="col">
        <table class="table table-sm table-bordered caption-top">
            <caption>
                <div class="row">
                    <div class="col">
                        <h3 class="d-inline-block">List of SMS</h3>
                        <div class="form-check d-inline-block ms-4">
                            <input class="form-check-input" [(ngModel)]="deleted" (change)="loadSMSs()" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              <b>Deleted</b>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="search"> <i class="bi bi-search"></i> <input type="text" (keyup)="search = $any($event.target).value;loadSMSs();" class="form-control" placeholder="Search"></div>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-primary"(click)="btn_add_edit_modal.click()">Add New</button>
                    </div>
                </div>
            </caption>
            <thead class="primary-color text-center align-middle">
                <tr>
                    <th>Type Of Failure</th>
                    <th>System Behaviour</th>
                    <th>How To Manage Fault<br />(Work Instruction)</th>
                    <th>Message To Be Sent Out<br />(Station Controller)<br />SMS</th>
                    <th>Delay/Time To Return To Timetable</th>
                    <th *ngIf="!deleted">Edit/Delete</th>
                    <th *ngIf="deleted">Recover</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!loading">
                    <tr *ngFor="let sms of smss; let i = index;">
                        <td>{{sms.typeOfFailure}}</td>
                        <td>{{sms.systemBehaviour}}</td>
                        <td>{{sms.workInstruction}}</td>
                        <td>{{sms.message}}</td>
                        <td>{{sms.timeToReturnToTimetable}}</td>
                        <td class="text-center" *ngIf="!deleted">
                            <i class="bi bi-pencil-square fs-4 pointer icons" (click)="selectSMSForEdit(sms);btn_add_edit_modal.click();"></i>
                            <i class="bi bi-trash-fill fs-4 ms-2 pointer icons" (click)="smsIndex = i" data-bs-toggle="modal" data-bs-target="#delete_modal"></i>
                        </td>
                        <td class="text-center" *ngIf="deleted">
                            <i class="bi bi-arrow-clockwise fs-4 pointer icons" (click)="recover(i);"></i>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="smss.length == 0 && !loading">
                    <tr>
                        <td colspan="9" *ngIf="!deleted" class="text-center align-middle h-400px"><h4>No SMS Found. You can add new by clicking on "Add New" button.</h4></td>
                        <td colspan="9" *ngIf="deleted" class="text-center align-middle h-400px"><h4>No Deleted SMS Found.</h4></td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="loading">
                    <tr class="align-middle h-400px">
                        <td colspan="9" class="text-center">
                            <div class="spinner-border w-5rem h-5rem" role="status">
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-1" *ngIf="total > take">
    <div class="col-md-12">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li [class]="page == 1 ? 'page-item disabled' : 'page-item'">
            <button class="page-link" [disabled]="page == 1" (click)="prevPage()">Previous</button>
          </li>
          <ng-container *ngIf="totalPages == 1">
            <li class="page-item"><button class="page-link" (click)="goToPage(1)">1</button></li>
          </ng-container>
          <ng-container *ngIf="totalPages > 1">
            <ng-container *ngIf="page == 1">
              <ng-container *ngFor="let pageNo of [].constructor(totalPages); let i = index;">
                <li [class]="(i + 1) == page ? 'page-item active' : 'page-item'"><button class="page-link" *ngIf="(i + 1) >= page && (i + 1) <= (page  + 2)" (click)="goToPage((i + 1))">{{(i + 1)}}</button></li>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="page > 1 && page < totalPages">
              <ng-container *ngFor="let pageNo of [].constructor(totalPages); let i = index;">
                <li [class]="(i + 1) == page ? 'page-item active' : 'page-item'"><button class="page-link" *ngIf="(i + 1) >= (page  - 1) && (i + 1) <= (page  + 1)" (click)="goToPage((i + 1))">{{(i + 1)}}</button></li>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="page == totalPages">
              <ng-container *ngFor="let pageNo of [].constructor(totalPages); let i = index;">
                <li [class]="(i + 1) == page ? 'page-item active' : 'page-item'"><button class="page-link" *ngIf="(i + 1) >= (page  - 2) && (i + 1) <= page" (click)="goToPage((i + 1))">{{(i + 1)}}</button></li>
              </ng-container>
            </ng-container>
          </ng-container>
          <li [class]="page == totalPages ? 'page-item disabled' : 'page-item'">
            <button class="page-link" [disabled]="page == totalPages" (click)="nextPage()">Next</button>
          </li>
        </ul>
      </nav>
    </div>
</div>

<form [formGroup]="form" *ngIf="form" (ngSubmit)="saveUpdate(form.value)" novalidate>
    <div class="modal fade" id="add_edit_modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add SMS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="newForm();" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="typeOfFailure" class="form-label">Type Of Failure</label>
                                <input type="text" class="{{form.get('typeOfFailure')?.touched ? (form.get('typeOfFailure')?.hasError('required') ? 'is-invalid' : 'is-valid') : (updateMode ? 'is-valid' : '')}} form-control" id="typeOfFailure" placeholder="Type here..." formControlName="typeOfFailure">
                                <div class="invalid-feedback" *ngIf="form.get('typeOfFailure')?.touched && form.get('typeOfFailure')?.hasError('required')">
                                    Type Of Failure is required.
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="systemBehaviour" class="form-label">System Behaviour</label>
                                <textarea type="text" class="{{form.get('systemBehaviour')?.touched ? (form.get('systemBehaviour')?.hasError('required') ? 'is-invalid' : 'is-valid') : (updateMode ? 'is-valid' : '')}} form-control no-resize" id="systemBehaviour" placeholder="Type here..." formControlName="systemBehaviour"></textarea>
                                <div class="invalid-feedback" *ngIf="form.get('systemBehaviour')?.touched && form.get('systemBehaviour')?.hasError('required')">
                                    System Behaviour is required.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="workInstruction" class="form-label">How To Manage Fault (Work Instruction)</label>
                                <textarea type="text" class="{{form.get('workInstruction')?.touched ? (form.get('workInstruction')?.hasError('required') ? 'is-invalid' : 'is-valid') : (updateMode ? 'is-valid' : '')}} form-control no-resize" id="workInstruction" placeholder="Type here..." formControlName="workInstruction"></textarea>
                                <div class="invalid-feedback" *ngIf="form.get('workInstruction')?.touched && form.get('workInstruction')?.hasError('required')">
                                    How To Manage Fault (Work Instruction) is required.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="message" class="form-label">Message To Be Sent Out (Station Controller) SMS</label>
                                <textarea id="message" class="{{form.get('message')?.touched ? (form.get('message')?.hasError('required') ? 'is-invalid' : 'is-valid') : (updateMode ? 'is-valid' : '')}} form-control no-resize" placeholder="Type here..." formControlName="message"></textarea>
                                <div class="invalid-feedback" *ngIf="form.get('message')?.touched && form.get('message')?.hasError('required')">
                                    Message To Be Sent Out (Station Controller) SMS is required.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="timeToReturnToTimetable" class="form-label">Delay/Time To Return To Timetable</label>
                                <textarea type="text" class="{{form.get('timeToReturnToTimetable')?.touched ? (form.get('timeToReturnToTimetable')?.hasError('required') ? 'is-invalid' : 'is-valid') : (updateMode ? 'is-valid' : '')}} form-control no-resize" id="timeToReturnToTimetable" placeholder="Type here..." formControlName="timeToReturnToTimetable"></textarea>
                                <div class="invalid-feedback" *ngIf="form.get('timeToReturnToTimetable')?.touched && form.get('timeToReturnToTimetable')?.hasError('required')">
                                    Delay/Time To Return To Timetable is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #btn_add_edit_close (click)="newForm();" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || loadingSaveEdit">
                        <span class="spinner-border spinner-border-sm" *ngIf="loadingSaveEdit" role="status" aria-hidden="true"></span>
                        {{updateMode ? 'Update' : 'Save'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<button type="button" class="btn btn-primary d-none" #btn_add_edit_modal data-bs-toggle="modal" data-bs-target="#add_edit_modal"></button>

<div class="modal fade" id="delete_modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete the SMS{{smsIndex != -1 ? ' \'' + smss[smsIndex].typeOfFailure + '\'' : ''}}?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #dismiss_confirm data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" [disabled]="loadingDelete" (click)="deleteSMS(smsIndex);dismiss_confirm.click();">
            <span class="spinner-border spinner-border-sm" *ngIf="loadingDelete" role="status" aria-hidden="true"></span>
            Delete
        </button>
        </div>
      </div>
    </div>
</div>