<div class="container" *ngIf="token?.role?.toLowerCase() == 'tc_l6' || token?.role?.toLowerCase() == 'tc_l4'">
    <div class="row mt-2">
        <div class="col-4 col-lg-2 text-center mx-auto">
            <img src="" class="img-fluid" src="assets/images/tmcs-menu.png" alt="">
        </div>
    </div>
    <div class="row mt-2">
        <div>
            <form [formGroup]="form" *ngIf="form" (ngSubmit)="activateZone()" novalidate>
                <div class="row col-md-6 mx-auto">
                    <div class="col-md-6 mt-3">
                        <label for="blocks" class="form-label">Block</label>
                        <select (change)="loadZones()"
                            class="{{form.get('blocks')?.touched ? (form.get('blocks')?.hasError('required') ? 'is-invalid' : 'is-valid') : ''}} form-select"
                            formControlName="blocks">
                            <option value="">Select Block</option>
                            <ng-container *ngIf="blocksData">
                                <ng-container *ngFor="let block of blocksData">
                                    <option value="{{block.id}}">{{block.name}}</option>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!blocksData">
                                <option value="" disabled>No possible block found</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"
                            *ngIf="form.get('blocks')?.touched && form.get('blocks')?.hasError('required')">
                            Block is required.
                        </div>
                    </div>

                    <div class="col-md-6 mt-3" *ngIf="zonesData">
                        <label for="zones" class="form-label">Zones</label>
                        <select (change)="changeSelectedZone($event)"
                            class="{{form.get('zones')?.touched ? (form.get('zones')?.hasError('required') ? 'is-invalid' : 'is-valid') : ''}} form-select"
                            formControlName="zones">
                            <option value="">Select Zone</option>
                            <ng-container *ngIf="zonesData">
                                <ng-container *ngFor="let zone of zonesData">
                                    <option value="{{zone.id}}">{{zone.name}}</option>
                                </ng-container>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"
                            *ngIf="form.get('zones')?.touched && form.get('zones')?.hasError('required')">
                            Zone is required.
                        </div>
                    </div>
                </div>

                <div class="row col-md-6 mx-auto">
                    <div class="col-md-12 mt-3 align-self-end mb-1">
                        <div class="d-grid">
                            <button type="submit" [disabled]="!form.valid" class="btn btn-success"><i
                                    class="bi bi-search"></i> Activate Zone </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-3" *ngIf="selectedZone && (activatedMessage || activatedMessage2)">
                    <div class="col-md-10 mb-4 mx-auto card shadow-lg p-4">
                        <div class="row">
                            <div class="col">
                                <label class="remove-client" (click)="close()">
                                    <i class="bi bi-x-lg"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-2 text-center mx-auto">
                                <img src="assets/images/alarm.png" width="70" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center text-danger">
                                <h3 *ngIf="activatedMessage">{{activatedMessage}}</h3>
                                <h4 *ngIf="activatedMessage2">{{activatedMessage2}}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-5" *ngIf="selectedZone">
                    <div class="col-md-10 mx-auto text-center text-danger">
                        <h4 class="fw-bold">Zone Layout</h4>
                        <img class="img-fluid" src="{{selectedZone.zoneLayout}}" alt="Zone Layout">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5 mb-5" *ngIf="loading">
        <div class="col-8 mt-5 text-center mx-auto">
            <div class="spinner-border w-5rem h-5rem" role="status">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3" *ngIf="!zone && error && !loading">
        <div class="col-8 text-center mx-auto">
            <h4>Opps! Sorry we are unable to find any zone with provided details.</h4>
        </div>
    </div>
</div>

<div class="container" *ngIf="token?.role?.toLowerCase() != 'tc_l6' && token?.role?.toLowerCase() != 'tc_l4'">
    <div class="row" *ngIf="!loading">
        <div class="col-4 col-lg-2 text-center mx-auto">
            <img src="assets/images/tmcs-menu.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row mt-5 mb-5" *ngIf="loading">
        <div class="col-8 mt-5 text-center mx-auto">
            <div class="spinner-border w-5rem h-5rem" role="status">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 mx-auto">
            <select class="form-select" [(ngModel)]="dropdownValue"
                (change)="getZoneDetails($any($event.target).value)">
                <option value="">Select Activated Zone</option>
                <ng-container *ngFor="let az of tmcsEmergencyLatest; let i = index;">
                    <option value="{{i}}">{{az.zone.name}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="row mt-4 mb-4" *ngIf="selectedTMCSEmergencyLatest">
        <div class="col-md-10 mb-4 mx-auto card shadow-lg p-4">
            <div class="row">
                <div class="col">
                    <label class="remove-client" (click)="close();dropdownValue=''">
                        <i class="bi bi-x-lg"></i>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-lg-2 text-center mx-auto">
                    <img src="assets/images/alarm.png" width="50" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-danger">
                    <h2>"{{selectedTMCSEmergencyLatest.zone.name}}" has been activated.</h2>
                    <h4>Train is in block
                        "{{selectedTMCSEmergencyLatest.block.name}}"{{selectedTMCSEmergencyLatest.zone.shaftName ?
                        ' and there is a shaft "' + selectedTMCSEmergencyLatest.zone.shaftName + '".' : '.'}}</h4>
                </div>
            </div>
            <div class="row mt-2"
                *ngIf="token?.role?.toLowerCase() == 'dm' && (!selectedTMCSEmergencyLatest.dmDecision || selectedTMCSEmergencyLatest.dmDecision == '')">
                <div class="col-md-10 mx-auto text-center">
                    <h4>The zone has Fan Direction {{selectedTMCSEmergencyLatest.zone.fanDirection}}, please select the
                        decided direction to let EFC know.</h4>
                </div>
            </div>
            <div class="row"
                *ngIf="token?.role?.toLowerCase() == 'dm' && (!selectedTMCSEmergencyLatest.dmDecision || selectedTMCSEmergencyLatest.dmDecision == '' || isUpdateDmDecision)">
                <ng-container *ngIf="selectedTMCSEmergencyLatest.zone.fanDirection.toLowerCase() == 'left/right'">
                    <div class="col-6 mx-auto">
                        <div class="row">
                            <div class="col-md-6 mt-2 text-center" (click)="fanDirection = 'Left'" data-bs-toggle="modal" data-bs-target="#select_fan_dir_modal">
                                <div class="arrow">
                                    <img src="assets/images/arrow-left.png"
                                        class="img-fluid pointer" width="100" alt="">
                                    <span class="arrow-text pointer"
                                        >{{selectedTMCSEmergencyLatest.zone.leftName}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2 text-center" (click)="fanDirection = 'Right'" data-bs-toggle="modal" data-bs-target="#select_fan_dir_modal">
                                <div class="arrow">
                                    <img src="assets/images/arrow-right.png" 
                                        class="img-fluid pointer" width="100" alt="">
                                    <span class="arrow-text pointer"
                                        >{{selectedTMCSEmergencyLatest.zone.rightName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="selectedTMCSEmergencyLatest.zone.fanDirection.toLowerCase() == 'up'">
                    <div class="col-xl-12 text-center" (click)="fanDirection = 'Up'" data-bs-toggle="modal" data-bs-target="#select_fan_dir_modal">
                        <div class="arrow">
                            <img src="assets/images/arrow-up.png"
                                class="img-fluid pointer" width="50" alt="">
                            <span class="arrow-text pointer"
                                >{{selectedTMCSEmergencyLatest.zone.upName}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr />
            <ng-container *ngIf="token?.role?.toLowerCase() == 'dm' && 
             (selectedTMCSEmergencyLatest.dmDecision?.toLowerCase() == 'up'
             || selectedTMCSEmergencyLatest.dmDecision?.toLowerCase() == 'right'
             || selectedTMCSEmergencyLatest.dmDecision?.toLowerCase() == 'left')">
                <div class="row mt-2">
                    <div class="col-md-10 mx-auto text-center">
                        <h4 class="text-info" *ngIf="!selectedTMCSEmergencyLatest?.isEfcRequireDmReview">The EFC has {{selectedTMCSEmergencyLatest.efcMarkedCompleted ? '' : 'not yet'}} marked "{{selectedTMCSEmergencyLatest?.zone?.name}}" as complete.</h4>
                        <h4 class="text-info" *ngIf="selectedTMCSEmergencyLatest?.isEfcRequireDmReview">The EFC has assigned "{{selectedTMCSEmergencyLatest?.zone?.name}}" for review.</h4>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center" *ngIf="!isUpdateDmDecision">
                    <div class="col-md-3 text-center">
                        <div class="d-grid">
                            <button class="btn btn-success" (click)="markAsComplete()">Mark as complete</button>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" *ngIf="selectedTMCSEmergencyLatest?.isEfcRequireDmReview">
                        <div class="d-grid">
                            <button class="btn btn-primary" (click)="dmChangeFanDirection()">Change Direction</button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row mt-2"
                *ngIf="token?.role?.toLowerCase() == 'efc' && (!selectedTMCSEmergencyLatest.dmDecision || selectedTMCSEmergencyLatest.dmDecision == '')">
                <div class="col-md-10 mx-auto text-center">
                    <h4>Please wait for DM's decision for fans direction.</h4>
                </div>
            </div>
            <div class="row mt-2"
                *ngIf="token?.role?.toLowerCase() == 'efc' && selectedTMCSEmergencyLatest.dmDecision && selectedTMCSEmergencyLatest.dmDecision != ''">
                <div class="row mt-2">
                    <div class="col-md-10 mx-auto text-center">
                        <h4 *ngIf="this.selectedTMCSEmergencyLatest?.isEfcRequireDmReview == false">If problem is solved then you can mark it as complete.</h4>
                        <h4 *ngIf="this.selectedTMCSEmergencyLatest?.isEfcRequireDmReview == true" class="text-primary">Please wait, you assigned it to DM for review.</h4>
                    </div>
                </div>
                <div class="row mt-2 mb-3 justify-content-center">
                    <div class="col-md-3 text-center" *ngIf="this.selectedTMCSEmergencyLatest?.isEfcRequireDmReview != true">
                        <div class="d-grid">
                            <button class="btn btn-success" (click)="markEfcAsComplete()">Mark as complete</button>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" *ngIf="this.selectedTMCSEmergencyLatest?.isEfcRequireDmReview != true && selectedTMCSEmergencyLatest.zone.fanDirection.toLowerCase() == 'left/right'">
                        <div class="d-grid">
                            <button class="btn btn-primary" (click)="reviewEfcFromDm()">Review from DM</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-10 mx-auto text-center">
                    <h4 *ngIf="selectedTMCSEmergencyLatest.dmDecision.toLowerCase() == 'up'">DM has decided to activate
                        fans
                        in
                        <div class="arrow">
                            <img src="assets/images/arrow-up.png" class="img-fluid" width="50" alt="">
                            <span class="arrow-text">{{selectedTMCSEmergencyLatest.zone.upName}}</span>
                        </div>
                        direction.
                    </h4>
                    <h4 *ngIf="selectedTMCSEmergencyLatest.dmDecision.toLowerCase() == 'left'">DM has decided to
                        activate fans
                        in
                        <div class="arrow">
                            <img src="assets/images/arrow-left.png" class="img-fluid" width="100" alt="">
                            <span class="arrow-text">{{selectedTMCSEmergencyLatest.zone.leftName}}</span>
                        </div>
                        direction.
                    </h4>
                    <h4 *ngIf="selectedTMCSEmergencyLatest.dmDecision.toLowerCase() == 'right'">DM has decided to
                        activate
                        fans in
                        <div class="arrow">
                            <img src="assets/images/arrow-right.png" class="img-fluid" width="100" alt="">
                            <span class="arrow-text">{{selectedTMCSEmergencyLatest.zone.rightName}}</span>
                        </div>
                        direction.
                    </h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10 mx-auto text-center text-danger">
                    <h4 class="fw-bold">Zone Layout</h4>
                    <img class="img-fluid" src="{{selectedTMCSEmergencyLatest.zone.zoneLayout}}" alt="">
                </div>
            </div>
            <hr />
            <div class="row mt-3">
                <div class="col-md-10 mx-auto text-center text-danger">
                    <h4 class="fw-bold">CCTV Layout</h4>
                    <img class="img-fluid" src="{{selectedTMCSEmergencyLatest.zone.cctvLayout}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-4" *ngIf="!selectedTMCSEmergencyLatest">
        <div class="col-md-8 text-center mx-auto mt-5">
            <h4>Please select activated zone from dropdown to see the details.</h4>
        </div>
    </div>
</div>


<div class="modal fade" id="select_fan_dir_modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to select Fan Direction <b>{{fanDirection}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #dismiss_confirm data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" [disabled]="selectingFanDir"
                    (click)="selectFanDirection(fanDirection);dismiss_confirm.click();">
                    <span class="spinner-border spinner-border-sm" *ngIf="selectingFanDir" role="status"
                        aria-hidden="true"></span>
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>